[project]
name = "pyo3-levenshtein"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.13"
dependencies = []

[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[dependency-groups]
dev = [
    "ipython>=9.7.0",
]
